<?xml version="1.0" encoding="UTF-8" ?>
<taglib xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-jsptaglibrary_2_0.xsd"
        version="2.0">

    <tlib-version>1.0</tlib-version>
    <short-name>wdocs taglib</short-name>

    <function>
        <description>JavaScript Escape function</description>
        <name>escapeJS</name>
        <function-class>org.williner.wdocs.ui.taglib.Utilities</function-class>
        <function-signature>java.lang.String escapeJS(java.lang.String)</function-signature>
    </function>

    <tag>
        <name>msg</name>
        <tag-class>org.williner.wdocs.ui.taglib.MessageTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>key</name>
            <required>true</required>
            <type>java.lang.String</type>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>

    <tag>
        <name>page_header</name>
        <tag-class>org.williner.wdocs.ui.taglib.form.PageHeader</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>header</name>
            <required>true</required>
            <type>java.lang.String</type>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>subheader</name>
            <required>false</required>
            <type>java.lang.String</type>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>cardinality</name>
            <required>false</required>
            <type>java.lang.Integer</type>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>

    <tag>
        <name>pluralize</name>
        <tag-class>org.williner.wdocs.ui.taglib.PluralizeTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>cardinality</name>
            <required>true</required>
            <type>java.lang.Integer</type>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>word</name>
            <required>true</required>
            <type>java.lang.String</type>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>

    <tag>
        <name>normalize</name>
        <tag-class>org.williner.wdocs.ui.taglib.NormalizeTag</tag-class>
        <body-content>scriptless</body-content>
        <attribute>
            <name>empty</name>
            <required>false</required>
            <type>java.lang.Boolean</type>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>capitalize</name>
            <required>false</required>
            <type>java.lang.Boolean</type>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>

    <tag>
        <name>date_format</name>
        <tag-class>org.williner.wdocs.ui.taglib.DateFormatTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>format</name>
            <required>false</required>
            <type>java.lang.String</type>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>date</name>
            <required>true</required>
            <type>java.util.Date</type>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>

    <tag>
        <name>bool_icon</name>
        <tag-class>org.williner.wdocs.ui.taglib.BoolIconTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>boolValue</name>
            <required>true</required>
            <type>java.lang.Boolean</type>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>

    <tag>
        <name>flash_message</name>
        <tag-class>org.williner.wdocs.ui.taglib.FlashMessageTag</tag-class>
        <body-content>empty</body-content>
    </tag>

    <tag>
        <name>field</name>
        <tag-class>org.williner.wdocs.ui.taglib.form.FieldTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>label</name>
            <required>true</required>
            <type>java.lang.String</type>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>placeholder</name>
            <required>true</required>
            <type>java.lang.String</type>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>required</name>
            <required>false</required>
            <type>boolean</type>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>bean</name>
            <required>true</required>
            <type>java.lang.Object</type>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>field</name>
            <required>true</required>
            <type>java.lang.String</type>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>cssClass</name>
            <required>false</required>
            <type>java.lang.String</type>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>

    <tag>
        <name>flagCombo</name>
        <tag-class>org.williner.wdocs.ui.taglib.form.FlagTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>label</name>
            <required>true</required>
            <type>java.lang.String</type>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>required</name>
            <required>false</required>
            <type>boolean</type>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>bean</name>
            <required>true</required>
            <type>java.lang.Object</type>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>field</name>
            <required>true</required>
            <type>java.lang.String</type>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>

    <tag>
        <name>sidebar_link</name>
        <tag-class>org.williner.wdocs.ui.taglib.SidebarLinkTag</tag-class>
        <attribute>
            <name>action</name>
            <required>true</required>
            <type>org.williner.wdocs.ui.ActionE</type>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>href</name>
            <required>true</required>
            <type>java.lang.String</type>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>method</name>
            <required>false</required>
            <type>java.lang.String</type>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
</taglib>