.document_type {
    margin-bottom: 5px;
    padding: 10px;
    background-color: #F8F8F8;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
}

.document_type>.description {
    color: #999999;
}

.document_type>dl {
    margin-top: 0;
    margin-bottom: 0;
}



table.attributes>thead>tr>th,
table.attributes>tbody>tr>td {
    margin-bottom: 10px;
    padding: 3px;
}

table.attributes>thead>tr>th.name {
    width: 30%;
}

table.attributes>thead>tr>th.description {
    width: 45%;
}

table.attributes>thead>tr>th.required {
    width: auto;
}

table.attributes>thead>tr>th.type {
    width: 15%;
}

table.attributes>thead>tr>th.actions {
    width: 10%;
}

td.edit {
}

td.edit>input {
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    height: 100%;
    width: 100%;
    font-size: 1em;
}

td.edit>select {
    border: none;
    width: 100%;
    height: 100%;
}


table.attributes {
    display: block;
    border-collapse: collapse;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    margin-bottom: 10px;
}

th {
    border: 1px solid #CCCCCC;
}

td {
    border: 1px solid #CCCCCC;
    box-shadow: none;
    transition: box-shadow 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

td.focus {
    border-style: hidden;
    box-shadow: 0 0 0 1px #66AFE9, 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}