.document {
    margin-bottom: 5px;
    padding: 10px;
    background-color: #F8F8F8;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
}

.document>dl {
    margin-top: 0;
    margin-bottom: 0;
}

#load_more {
    text-align: center;
}

#search_filter, #search_result {
    margin-top: 10px;
}