td.actions {
    width: 1px;
}

td.name {
    width: 30%;
}

td.description {
    width: auto;
}

th.system, td.system {
    width: 10%;
    text-align: center;
}

th.user_count, td.user_count {
    width: 10%;
    text-align: center;
}