td.actions {
    width: 1px;
}

td.name {
    width: auto;
}

td.login {
    width: 20%;
}

td.role {
    width: 20%;
}

th.is_active, td.is_active, th.system, td.system {
    text-align: center;
    width: 10%;
}